html {
  text-size-adjust: 100%;
  display:flex;
  -webkit-font-smoothing: antialiased;
 
}
  

body {
  font-family: sans-serif;
  background-image: linear-gradient(-210deg,#721212 10%,#e21e1e 85%,#eedede 50%);
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
}
h1  {
  color: rgb(5, 0, 0);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:xx-large;
  font-family: cursive;
  

}
h2  {
  color: rgb(7, 1, 1) ;
  text-align: center;
  text-transform: uppercase;
  font-family:'courrier', cursive;
  font-size: x-large;
  display: block;
}

.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type{
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin:0;
}
.lista-citas .media-body button {
  margin-top: 1rem!important;
}
.lista-citas .media-body span {
  font-weight: bold;
}

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.cita {
  padding: 1rem 0 0 0;
  background: rgba(255, 255, 255, 0.432);
  border: 1px solid #e71235;
  color: black;width: 300px;
  overflow: hidden;
  text-overflow: clip;
}

.cita p {
  font-weight: bold;
  margin-bottom: .8rem;
  
}
.cita p span {
  font-weight: normal;

}
.cita:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

}
.cita:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.button.eliminar,
.button.eliminar:hover{
  background-color: rgb(158, 8, 58);
  color: white;
  margin-top: 2rem;
  border-radius: 10px;
}

.span-red {
  color:red;
  font-weight: bold;

}

.alerta-error {
  background-color:rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family:  'Staatliches', cursive;
  border-radius: 10px;
} 

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  -moz-box-flex: initial; 
}
.columna {
  padding-left: 2%;
width: 30%;
float: left;
border-radius: 3%;
padding-bottom: 10%;
}



.button.is-primary{
  margin: 3px;
  margin-left: 20px;

 
}

 .button.is-danger{
  margin: 4px;
  margin-left: 20px;
 }
 .button.is-success.is-rounded{
  margin: 3px;
  margin-left: 5px;

 
}
.button.is-danger.is-rounded{
  margin: 4px;
  margin-left: 15px;
 }
 .button.is-danger.is-rounded.aux{
  margin: 4px;
  margin-left: 75px;
 }
.container {
  padding-top: 5%;
  display: flex;
  ;
}

.button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

.container {
  content: "";
  display: table;
  clear: both;
  box-sizing: inherit;
}